.header {
	background-color:#DD9900;
	width:80%;
	float:left;
	height:15%;
	}

.login {
	background-color:#FFA500;
	width:20%;
	height:15%;
	float:left;
	}

.twitter {
	background-color:#000000;
	clear:both;
	text-align:center;
	height:40px;
	width:100%;
	}

.acties {
	background-color:#FFD700;
	height:75%;
	width:20%;
	float:left;
	}

.acties {
	background-color:#FFD700;
	height:75%;
	width:20%;
	float:left;
	}

.inhoud {
	background-color:#EEEEEE;
	height:75%;
	width:60%;
	float:left;
	overflow: scroll;
	}

.contact {
	background-color:#FFD700;
	height:75%;
	width:20%;
	float:left;
	}

.footer {
	background-color:#FFA500;
	clear:both;
	text-align:center;
	height:5%;
	width:100%
	}

.navigatie {
	 font-family: verdana, Helvetica, Arial, sans-serif;
	 font-size: 14px;
	 font-weight: bold;
	 text-align: center;
	 background-color: red;
	}

.navigatie ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	}

.navigatie ul li {
	 margin: 0;
	 border-top: 1px solid #003;
	}

.navigatie ul li a {
	 display: block;
	 padding: 2px 2px 2px 4px;
	 border-right: 1px solid #69c;
	 border-bottom: 1px solid #369;
	 background-color: #036;
	 color: #fff;
	 text-decoration: none;
	 width: 100%;
	}

.navigatie ul li a:hover {
	 border-right: 1px solid #69c;
	 border-bottom: 1px solid #369;
	 background-color: #69f;
	 color: #fff;
	}





